body {
    margin: 50px;
    padding: 0;
    background-color: lavender;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.button-gradient {
    background: linear-gradient(90deg, rgba(253, 202, 138) 0%, rgba(187,240,188,1) 89%);
}

.header {
    display: flex;
}

h1 {
    margin: 0;
}

.quote {
    font-style: italic;
}

.quote p {
    margin: 10px 0 0 0;
    font-style: italic;
}

.quote span {
    margin: 0;
    font-style: normal;
}